* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: rgb(93 2 119);
}

body {
  background-color: aliceblue;
  max-height: 100vh;
  overflow-y: hidden;
  display: grid;
  place-content: center;
  margin-top: 10px;
  color: white;
}

.container {
  max-width: 360px;
  width: 340px;
  height: 98vh;
  max-height: 98vh;
  border: 8px solid var(--main-color);
  border-radius: 50px;
}

.second-container::-webkit-scrollbar {
  display: none;
}

.second-container {
  max-width: 350px;
  width: 324px;
  height: 96vh;
  max-height: 96vh;
  border-radius: 42px;
  border: 8px solid black;
  overflow-y: scroll;
}

.container-image {
  max-width: 308px;
  height: 410px;
  max-height: 410px;
  z-index: 1;
  background-image: url("../Img/Bealy.jpeg");
  background-size: cover;
  background-position: center;
}

.container-info {
  background-color: var(--main-color);
  width: 308px;
  z-index: 2;
  border-radius: 30px;
  margin-top: -30px;
}

.title {
  font-size: 56px;
  line-height: 80px;
  text-align: center;
}

.container-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 28px;
}

.icons {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.text-icons {
  font-size: 15px;
  font-weight: 100;
}

.numbers {
  margin: 1px 0px;
  font-size: 50px;
  line-height: 0.8;
}

p,
b {
  font-size: 16px;
  line-height: 22px;
  margin: 32px 16px;
}

hr {
  border: 1px solid #ffffff24;
}

h2 {
  font-size: 16px;
  text-align: center;
  margin-top: 8px;
}

.description-buttons {
  padding: 20px 15px 5px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

button {
  width: 45%;
  margin-bottom: 16px;
  box-shadow: -2px 6px 6px 0px #00000099, 1px -1px 1px -1px #ffffff99;
  background-color: transparent;
  border-radius: 10px;
  border-color: transparent;
  height: 40px;
}

.icon-contact {
  font-size: 30px;
  color: white;
}